<div class="mt-10">
  <h1 class="<%= Theme::THEME_LABEL_STYLING %> text-3xl font-bold mb-6">Devices & Sessions</h1>

  <div id="sessions" class="dark:text-white grid gap-y-4 grid-cols-1 max-h-[500px] overflow-y-auto">
    <% @sessions.each do |session| %>
      <div id="<%= dom_id session %>">
        <p>
          <strong>User Agent:</strong>
          <%= session.user_agent %>
        </p>

        <p>
          <strong>Ip Address:</strong>
          <%= session.ip_address %>
        </p>

        <p>
          <strong>Created at:</strong>
          <%= session.created_at %>
        </p>
        <p>
          <%= button_to "Log out", session, method: :delete %>
        </p>
      </div>
    <% end %>
  </div>

  <div class="mt-10">
    <%= link_to "Back", :back, class: "#{Theme::THEME_LABEL_STYLING}" %>
  </div>
</div>