<div class="mt-10">
  <h1 class="<%= Theme::THEME_LABEL_STYLING %> text-3xl font-bold mb-6">Sign up</h1>

  <%= form_with(url: sign_up_path, model: @user) do |form| %>

    <div>
      <%= form.text_field :email, value: @user.email, required: true, autofocus: true, autocomplete: "email" %>
    </div>

    <div>
      <%= form.password_field :password, required: true, autocomplete: "new-password" %>
    </div>

    <div>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password" %>
    </div>

    <div>
      <%= form.submit "Sign up" %>
    </div>
  <% end %>
</div>