<%#= form_with model: @event, local: true do |form| %>
<%#= render 'shared/modal', modal_content: form, title: 'test' %>
<%# end %>

<%= render 'shared/modal', title: 'TEST TITLE' do %>
  <%= form_with model: @event, local: true, data: { controller: 'events' } do |form| %>
    <div class="form-group">
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.text_field :tag, class: "form-control" %>
    </div>

  <% end %>

  <p class="<%= Theme::THEME_ERROR_STYLING %>"><%= notice %></p>
  <p class="<%= Theme::THEME_ERROR_STYLING %>"><%= alert %></p>

<% end %>