<% title = 'Edit Event' %>
<%= render 'shared/modal', title: title do %>
  <%= render 'form', title: %>
  <p class="<%= Theme::THEME_ERROR_STYLING %>"><%= notice %></p>
  <p class="<%= Theme::THEME_ERROR_STYLING %>"><%= alert %></p>
<% end %>